flows_raspberrypi.json
[{"id":"7098957e.25aadc","type":"tab","label":"Basic Light Automations","disabled":false,"info":""},{"id":"84840c28.c0562","type":"tab","label":"Alexa","disabled":false,"info":""},{"id":"754ea04c.fc69d","type":"tab","label":"Presence","disabled":false,"info":""},{"id":"947bca7f.c6a768","type":"tab","label":"Inside Environment","disabled":false,"info":""},{"id":"5e07a337.46091c","type":"tab","label":"Dashboard Components","disabled":false,"info":""},{"id":"eeacc54d.ee6cc","type":"subflow","name":"HASS Websocket","info":"","in":[{"x":580,"y":160,"wires":[{"id":"500e09e0.0995f8"}]}],"out":[{"x":1260,"y":20,"wires":[{"id":"3952fb53.000bac","port":0}]},{"x":1120,"y":60,"wires":[{"id":"756648e8.cc113","port":1}]},{"x":1120,"y":100,"wires":[{"id":"756648e8.cc113","port":2}]},{"x":1260,"y":140,"wires":[{"id":"54c174b3.92376c","port":0}]},{"x":780,"y":160,"wires":[{"id":"9ebf7a0.9dbed08","port":0}]}]},{"id":"441d7991.76afe8","type":"websocket-client","z":"","path":"ws://192.168.1.67:8123/api/websocket","wholemsg":"false"},{"id":"86a82d3c.d14cf8","type":"server","z":"","name":"Home Assistant","url":"https://mesberg.duckdns.org:8123","pass":"zalex"},{"id":"4040cc3.f7caf34","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"e0f21858.a491b8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d3732e19.807a6","type":"ui_group","z":"","name":"Gauges","tab":"4040cc3.f7caf34","disp":true,"width":"6","collapse":false},{"id":"484d5085.727c88","type":"mqtt-broker","z":"","name":"Owntracks","broker":"http://mesberg.duckdns.org","port":"1883","tls":"895e443b.5ef258","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"895e443b.5ef258","type":"tls-config","z":"","name":"Lets Encrypt ","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":true},{"id":"dbacadde.9eaa18","type":"websocket in","z":"eeacc54d.ee6cc","name":"HASS (websocket receive)","server":"","client":"441d7991.76afe8","x":190,"y":100,"wires":[["638e232d.dddf4c"]]},{"id":"500e09e0.0995f8","type":"websocket out","z":"eeacc54d.ee6cc","name":"HASS (websocket send)","server":"","client":"441d7991.76afe8","x":750,"y":120,"wires":[]},{"id":"638e232d.dddf4c","type":"json","z":"eeacc54d.ee6cc","name":"","x":370,"y":100,"wires":[["e1a5b859.7b8a5"]]},{"id":"e1a5b859.7b8a5","type":"function","z":"eeacc54d.ee6cc","name":"Verify Request","func":"if(msg.payload.type == \"auth_required\") {\n    var msg_auth = {payload:{\"type\": \"auth\",\"api_password\": \"zalex\"}};\n    return [null, msg_auth, null];\n}else if(msg.payload.type == \"auth_ok\") {\n    var msg_sub = {payload:{\"id\": 18,\"type\": \"subscribe_events\"}};\n    return [null, msg_sub, null];\n}else if(msg.payload.type == \"result\") {\n    if(msg.payload.success === false) {\n        return [null, null, msg];\n    }else{\n        return [null, null, null];\n    }\n}else{\n    return [msg, null, null];\n}","outputs":"3","noerr":0,"x":520,"y":100,"wires":[["f2273f42.001cb"],["500e09e0.0995f8"],["9ebf7a0.9dbed08"]]},{"id":"f2273f42.001cb","type":"change","z":"eeacc54d.ee6cc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.event","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":80,"wires":[["756648e8.cc113"]]},{"id":"9ebf7a0.9dbed08","type":"function","z":"eeacc54d.ee6cc","name":"Error","func":"msg.payload = \"Websocket Error #\"+msg.payload.error.code+\": \"+msg.payload.error.message;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":160,"wires":[[]]},{"id":"756648e8.cc113","type":"switch","z":"eeacc54d.ee6cc","name":"Event Type","property":"payload.event_type","propertyType":"msg","rules":[{"t":"eq","v":"state_changed","vt":"str"},{"t":"eq","v":"homeassistant_start","vt":"str"},{"t":"eq","v":"zwave.network_ready","vt":"str"},{"t":"eq","v":"zwave.scene_activated","vt":"str"}],"checkall":"false","outputs":4,"x":950,"y":80,"wires":[["3952fb53.000bac"],[],[],["54c174b3.92376c"]]},{"id":"3952fb53.000bac","type":"function","z":"eeacc54d.ee6cc","name":"","func":"var entity_parts = msg.payload.data.entity_id.split(\".\");\nvar time_fired = msg.payload.time_fired;\nvar domain = entity_parts[0];\nvar entity = entity_parts[1];\nvar entity_id = msg.payload.data.entity_id;\nif(msg.payload.data.new_state) {\n    var new_state = msg.payload.data.new_state.state;\n    var name = msg.payload.data.new_state.attributes.friendly_name;\n}\nif(msg.payload.data.old_state) {\n    var old_state = msg.payload.data.old_state.state;\n    var name = msg.payload.data.old_state.attributes.friendly_name;\n}\nmsg.payload = \"\";\nmsg.payload = {\n    \"time_fired\":time_fired,\n    \"domain\":domain,\n    \"entity\":entity,\n    \"entity_id\":entity_id,\n    \"new_state\":new_state,\n    \"old_state\":old_state,\n    \"name\":name\n};\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":20,"wires":[[]]},{"id":"54c174b3.92376c","type":"function","z":"eeacc54d.ee6cc","name":"","func":"var time_fired = msg.payload.time_fired;\nvar scene_id = msg.payload.data.scene_id;\nvar object_id = msg.payload.data.object_id;\nvar entity_id = msg.payload.data.entity_id;\nmsg.payload = \"\";\nmsg.payload = {\n    \"time_fired\":time_fired,\n    \"scene_id\":scene_id,\n    \"object_id\":object_id,\n    \"entity_id\":entity_id\n}\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":140,"wires":[[]]},{"id":"e58c3aed.8ce2d","type":"inject","z":"7098957e.25aadc","name":"10PM Every Day","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":"","x":130,"y":60,"wires":[["6d9aada7.3b630c"]]},{"id":"6d9aada7.3b630c","type":"api-call-service","z":"7098957e.25aadc","name":"Turn off Console Lamp","server":"86a82d3c.d14cf8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.mbr_console_lamp\"}","x":320,"y":60,"wires":[]},{"id":"afd3bcd2.bdc3a8","type":"inject","z":"7098957e.25aadc","name":"Midnight Every Day","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"59 23 * * *","once":false,"x":141,"y":141,"wires":[["1ef221d3.078126"]]},{"id":"1ef221d3.078126","type":"api-call-service","z":"7098957e.25aadc","name":"All Lights Off","server":"86a82d3c.d14cf8","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"group.all_lights\"}","x":310,"y":140,"wires":[]},{"id":"7b3264ba.e1d76c","type":"json","z":"7098957e.25aadc","name":"","property":"payload","action":"","pretty":true,"x":230,"y":220,"wires":[["f1603dae.95d24"]]},{"id":"cd819a65.67a538","type":"schedex","z":"7098957e.25aadc","name":"","suspended":false,"lat":"42.279594","lon":" -83.732124","ontime":"05:50","ontopic":"","onpayload":"{\"service\":\"turn_on\"}","onoffset":0,"onrandomoffset":0,"offtime":"08:00","offtopic":"","offpayload":"{\"service\":\"turn_off\"}","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"sun":false,"x":110,"y":220,"wires":[["7b3264ba.e1d76c"]]},{"id":"f1603dae.95d24","type":"api-call-service","z":"7098957e.25aadc","name":"Turn on/off Morning Lights","server":"86a82d3c.d14cf8","service_domain":"homeassistant","service":"","data":"{\"entity_id\": \"group.Morning_lights\"}","x":400,"y":220,"wires":[]},{"id":"fc54ede5.b280e","type":"schedex","z":"7098957e.25aadc","name":"Sunset","suspended":false,"lat":"42.279594","lon":" -83.732124","ontime":"sunset","ontopic":"","onpayload":"{\"service\":\"turn_on\"}","onoffset":"-20","onrandomoffset":0,"offtime":"22:00","offtopic":"","offpayload":"{\"service\":\"turn_off\"}","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":100,"y":280,"wires":[["88108c12.f484c8"]]},{"id":"88108c12.f484c8","type":"json","z":"7098957e.25aadc","name":"","property":"payload","action":"","pretty":true,"x":210,"y":280,"wires":[["d0fb9af.c757d68"]]},{"id":"d0fb9af.c757d68","type":"api-call-service","z":"7098957e.25aadc","name":"Turn on/off Outside Lights","server":"86a82d3c.d14cf8","service_domain":"homeassistant","service":"","data":"{\"entity_id\": \"group.outside_lights\" }","x":370,"y":280,"wires":[]},{"id":"458c5f7f.771308","type":"api-current-state","z":"7098957e.25aadc","name":"Check Luminance","server":"86a82d3c.d14cf8","halt_if":"","entity_id":"sensor.aeotec_zw100_multisensor_6_luminance","x":250,"y":360,"wires":[["1834fdfa.7157ea"]]},{"id":"74531d7f.58a654","type":"server-state-changed","z":"7098957e.25aadc","name":"LR Motion","server":"86a82d3c.d14cf8","entityidfilter":"binary_sensor.aeotec_zw100_multisensor_6_sensor","haltifstate":"Off","x":100,"y":360,"wires":[["458c5f7f.771308"]]},{"id":"bd1d090f.d759c","type":"api-call-service","z":"7098957e.25aadc","name":"Turn on LR/DR lights","server":"86a82d3c.d14cf8","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"group.livingdining_area_lights\"}","x":700,"y":360,"wires":[]},{"id":"7b9cbf5b.11a678","type":"switch","z":"7098957e.25aadc","name":"Light Low?","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"40","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":360,"wires":[["bd1d090f.d759c"]]},{"id":"1834fdfa.7157ea","type":"string","z":"7098957e.25aadc","name":"toFloat","methods":[{"name":"toFloat","params":[{"type":"num","value":"0.0"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":400,"y":360,"wires":[["7b9cbf5b.11a678"]]},{"id":"77452c92.15af04","type":"server-state-changed","z":"947bca7f.c6a768","name":"Office Light turned on/off?","server":"86a82d3c.d14cf8","entityidfilter":"light.office","haltifstate":"","x":190,"y":280,"wires":[["fe4b8bb4.134ee8"]]},{"id":"6f80e50f.c3f7fc","type":"wunderground","z":"947bca7f.c6a768","name":"Check weather","lon":"","lat":"","city":"Ann Arbor","country":"US","x":500,"y":280,"wires":[["945f5cca.8b914"]]},{"id":"945f5cca.8b914","type":"change","z":"947bca7f.c6a768","name":"Extract temp only","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.tempf","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":280,"wires":[["c0efd43c.befed8"]]},{"id":"fe4b8bb4.134ee8","type":"switch","z":"947bca7f.c6a768","name":"on or off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","outputs":2,"x":360,"y":280,"wires":[["6f80e50f.c3f7fc"],["211354c2.46f91c"]],"outputLabels":["On","Off"]},{"id":"7fbbb1cd.5b5e8","type":"api-call-service","z":"947bca7f.c6a768","name":"Turn on Heater","server":"86a82d3c.d14cf8","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.innovelli_downstairs_switch\"}","x":789,"y":342,"wires":[]},{"id":"211354c2.46f91c","type":"api-call-service","z":"947bca7f.c6a768","name":"Turn off Heater","server":"86a82d3c.d14cf8","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.innovelli_downstairs_switch\"}","x":790,"y":393,"wires":[]},{"id":"c0efd43c.befed8","type":"switch","z":"947bca7f.c6a768","name":"< 55?","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"55","vt":"num"}],"checkall":"true","outputs":1,"x":810,"y":280,"wires":[["7fbbb1cd.5b5e8"]]},{"id":"ac3f5102.6d5b9","type":"wunderground","z":"947bca7f.c6a768","name":"Check weather","lon":"","lat":"","city":"Ann Arbor","country":"US","x":360,"y":140,"wires":[["dc22afbf.689c"]]},{"id":"dc22afbf.689c","type":"change","z":"947bca7f.c6a768","name":"Extract temp only","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.tempf","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":140,"wires":[["683421cd.e50f8"]]},{"id":"a19cdd23.16c52","type":"api-call-service","z":"947bca7f.c6a768","name":"Turn on Heater","server":"86a82d3c.d14cf8","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.innovelli_downstairs_switch\"}","x":800,"y":140,"wires":[]},{"id":"58225d4f.e01014","type":"inject","z":"947bca7f.c6a768","name":"4:45AM Turn on heater","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"45 04 * * 1,2,3,4,5","once":false,"x":170,"y":140,"wires":[["ac3f5102.6d5b9","88f249b2.e12be8"]]},{"id":"88f249b2.e12be8","type":"delay","z":"947bca7f.c6a768","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":572,"y":70,"wires":[["9f7b47b2.92bf78"]]},{"id":"9f7b47b2.92bf78","type":"api-call-service","z":"947bca7f.c6a768","name":"Turn off Heater","server":"86a82d3c.d14cf8","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.innovelli_downstairs_switch\"}","x":779,"y":71,"wires":[]},{"id":"683421cd.e50f8","type":"switch","z":"947bca7f.c6a768","name":"< 55?","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"55","vt":"num"}],"checkall":"true","outputs":1,"x":670,"y":140,"wires":[["a19cdd23.16c52"]]},{"id":"ca567bc0.d8d628","type":"api-call-service","z":"754ea04c.fc69d","name":"All Lights Off","server":"86a82d3c.d14cf8","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"group.all_lights\"}","x":630,"y":120,"wires":[]},{"id":"caf90fa8.8d10f","type":"delay","z":"754ea04c.fc69d","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":180,"wires":[["498b129e.c1cf1c"]]},{"id":"498b129e.c1cf1c","type":"api-call-service","z":"754ea04c.fc69d","name":"Turn on a few","server":"86a82d3c.d14cf8","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"group.afew_lights\"}","x":760,"y":180,"wires":[]},{"id":"5bfed249.d3fb9c","type":"api-call-service","z":"754ea04c.fc69d","name":"Welcome home lights","server":"86a82d3c.d14cf8","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\": \"group.welcome_home\" }","x":800,"y":360,"wires":[]},{"id":"c7a1ea29.72958","type":"server-state-changed","z":"7098957e.25aadc","name":"Kitchen Switch on/off","server":"86a82d3c.d14cf8","entityidfilter":"light.kitchen_main_lights","haltifstate":"","x":140,"y":440,"wires":[["81041df2.f2b9e8"]]},{"id":"81041df2.f2b9e8","type":"change","z":"7098957e.25aadc","name":"on or off?","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"{\"service\":\"turn_on\"}","tot":"json"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"{\"service\":\"turn_off\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":440,"wires":[["d333ad7b.404ce8"]]},{"id":"d333ad7b.404ce8","type":"api-call-service","z":"7098957e.25aadc","name":"Turn on/off Light over table","server":"86a82d3c.d14cf8","service_domain":"light","service":"","data":"{\"entity_id\":\"light.kitchen_table_dimmer_level\"}","x":480,"y":440,"wires":[]},{"id":"2c64eb2.e96c994","type":"server-state-changed","z":"7098957e.25aadc","name":"Garage Light On","server":"86a82d3c.d14cf8","entityidfilter":"light.garage_light","haltifstate":"off","x":119.5,"y":519,"wires":[["84f1c75b.8d35d"]]},{"id":"84f1c75b.8d35d","type":"delay","z":"7098957e.25aadc","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":270,"y":520,"wires":[["3eb26c3c.c6ff14"]]},{"id":"3eb26c3c.c6ff14","type":"api-call-service","z":"7098957e.25aadc","name":"Turn off Garage Light","server":"86a82d3c.d14cf8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.garage_light\"}","x":440,"y":520,"wires":[]},{"id":"f0972a59.246048","type":"api-call-service","z":"754ea04c.fc69d","name":"Turn on Front Landscape lights","server":"86a82d3c.d14cf8","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"group.Front_Outside_Lights\"}","x":830,"y":420,"wires":[]},{"id":"a7cacb2f.8bd998","type":"pushover","z":"754ea04c.fc69d","name":"Pushover","device":"johns_iphone","title":"Message from home","priority":0,"sound":"classical","url":"","url_title":"","x":1040,"y":260,"wires":[]},{"id":"38d8365d.506ca2","type":"alexa-local","z":"84840c28.c0562","devicename":"Window Lights","inputtrigger":false,"x":140,"y":60,"wires":[["49e87498.63a6c4"]]},{"id":"45789bea.01da4c","type":"api-call-service","z":"84840c28.c0562","name":"Kitchen Window Lights","server":"86a82d3c.d14cf8","service_domain":"light","service":"","data":"{\"entity_id\":\"light.kitchen_window_lights\"}","x":510,"y":60,"wires":[]},{"id":"a903e7d7.8417f8","type":"alexa-local","z":"84840c28.c0562","devicename":"Console Light","inputtrigger":false,"x":140,"y":120,"wires":[["5d8cb203.522e54"]]},{"id":"8e45261c.26972","type":"api-call-service","z":"84840c28.c0562","name":"MBR Console Light","server":"86a82d3c.d14cf8","service_domain":"light","service":"","data":"{\"entity_id\":\"light.mbr_console_lamp\"}","x":490,"y":120,"wires":[]},{"id":"5d8cb203.522e54","type":"change","z":"84840c28.c0562","name":"convert to JSON","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"{\"service\":\"turn_on\"}","tot":"json"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"{\"service\":\"turn_off\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":120,"wires":[["8e45261c.26972"]]},{"id":"c58753e0.b9f848","type":"change","z":"754ea04c.fc69d","name":"Create notification","rules":[{"t":"set","p":"payload","pt":"msg","to":"Welcome home, I've turned the lights on for you","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":300,"wires":[["a7cacb2f.8bd998"]]},{"id":"f1343dce.51b69","type":"change","z":"754ea04c.fc69d","name":"Create notification","rules":[{"t":"set","p":"payload","pt":"msg","to":"Looks like no ones home. I've turned the lights off.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":260,"wires":[["a7cacb2f.8bd998"]]},{"id":"fdb9c7cf.bb4078","type":"alexa-local","z":"84840c28.c0562","devicename":"Credenza Lights","inputtrigger":false,"x":140,"y":180,"wires":[["d6f781ff.d2c408"]]},{"id":"ad1c6151.76cda","type":"api-call-service","z":"84840c28.c0562","name":"Dining Room Credenza Lights","server":"86a82d3c.d14cf8","service_domain":"switch","service":"","data":"{\"entity_id\":\"switch.dining_credenza_switch\"}","x":530,"y":180,"wires":[]},{"id":"49e87498.63a6c4","type":"change","z":"84840c28.c0562","name":"convert to JSON","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"{\"service\":\"turn_on\"}","tot":"json"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"{\"service\":\"turn_off\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":60,"wires":[["45789bea.01da4c"]]},{"id":"d6f781ff.d2c408","type":"change","z":"84840c28.c0562","name":"convert to JSON","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"{\"service\":\"turn_on\"}","tot":"json"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"{\"service\":\"turn_off\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":180,"wires":[["ad1c6151.76cda"]]},{"id":"829db5a6.cd6db8","type":"api-call-service","z":"84840c28.c0562","name":"Outside Lights","server":"86a82d3c.d14cf8","service_domain":"homeassistant","service":"","data":"{\"entity_id\":\"group.outside_lights\"}","x":500,"y":320,"wires":[]},{"id":"cb5244a6.dc07a8","type":"change","z":"84840c28.c0562","name":"convert to JSON","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"{\"service\":\"turn_on\"}","tot":"json"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"{\"service\":\"turn_off\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":320,"wires":[["829db5a6.cd6db8"]]},{"id":"f7d12086.669b4","type":"alexa-local","z":"84840c28.c0562","devicename":"Outside Lights","inputtrigger":false,"x":140,"y":280,"wires":[["cb5244a6.dc07a8"]]},{"id":"acb5acdd.46538","type":"mqtt in","z":"754ea04c.fc69d","name":"Owntracks ","topic":"owntracks/+/+/event","qos":"2","broker":"484d5085.727c88","x":80,"y":240,"wires":[["d81f05d8.a2d7e8"]]},{"id":"c6053da1.6a7bf","type":"ui_gauge","z":"5e07a337.46091c","name":"Luminance","group":"d3732e19.807a6","order":0,"width":0,"height":0,"gtype":"gage","title":"Luminance","label":"lux","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":240,"wires":[]},{"id":"3b384d62.689292","type":"api-current-state","z":"5e07a337.46091c","name":"Check Luminance","server":"86a82d3c.d14cf8","halt_if":"","entity_id":"sensor.aeotec_zw100_multisensor_6_luminance","x":330,"y":240,"wires":[["c6053da1.6a7bf"]]},{"id":"d8a8d7d0.04c238","type":"ui_gauge","z":"5e07a337.46091c","name":"Humidity","group":"d3732e19.807a6","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":200,"wires":[]},{"id":"ccdca5d1.265588","type":"api-current-state","z":"5e07a337.46091c","name":"Check Humidity","server":"86a82d3c.d14cf8","halt_if":"","entity_id":"sensor.aeotec_zw100_multisensor_6_relative_humidity","x":320,"y":200,"wires":[["d8a8d7d0.04c238"]]},{"id":"c5d8240a.e1238","type":"alexa-local","z":"84840c28.c0562","devicename":"Outdoor Lights","inputtrigger":false,"x":140,"y":360,"wires":[["cb5244a6.dc07a8"]]},{"id":"37f54299.f9e316","type":"inject","z":"5e07a337.46091c","name":"Check Sensors","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":240,"wires":[["ccdca5d1.265588","3b384d62.689292","8cf57dab.9be41"]]},{"id":"d81f05d8.a2d7e8","type":"owntracks","z":"754ea04c.fc69d","x":210,"y":240,"wires":[["686fd77b.b81b78","7406e46e.3baf64","6c21741c.ea30a4"]]},{"id":"686fd77b.b81b78","type":"switch","z":"754ea04c.fc69d","name":"","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"leave","vt":"str"},{"t":"eq","v":"enter","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":330,"y":240,"wires":[["ca567bc0.d8d628","f1343dce.51b69","caf90fa8.8d10f"],["44868fcf.6a2c3"]]},{"id":"6c21741c.ea30a4","type":"moment","z":"754ea04c.fc69d","name":"","topic":"","input":"payload.tst","inputType":"msg","inTz":"America/Detroit","adjAmount":0,"adjType":"days","adjDir":"add","format":"(\"dddd, MMMM Do YYYY, h:mm a\")","locale":"en_US","output":"","outputType":"msg","outTz":"America/Detroit","x":280,"y":520,"wires":[["ef619c10.c5eae"]]},{"id":"7406e46e.3baf64","type":"function","z":"754ea04c.fc69d","name":"Expand Name","func":"\n\nif (payload.tid == \"JM\")\n    var newMsg = { payload: \"John Mesberg\" };\nelse\n    var newMsg = { payload: \"Someone else\" };\n\nreturn newMsg;\n\n","outputs":1,"noerr":0,"x":260,"y":480,"wires":[["ef619c10.c5eae"]]},{"id":"8cf57dab.9be41","type":"api-current-state","z":"5e07a337.46091c","name":"Check Temperature","server":"86a82d3c.d14cf8","halt_if":"","entity_id":"sensor.aeotec_zw100_multisensor_6_temperature","x":330,"y":280,"wires":[["7db5b903.940e1","b2cb84d5.f2c988"]]},{"id":"7db5b903.940e1","type":"ui_gauge","z":"5e07a337.46091c","name":"Temperature","group":"d3732e19.807a6","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°F","format":"{{value}}","min":"50","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"60","seg2":"80","x":530,"y":280,"wires":[]},{"id":"44868fcf.6a2c3","type":"time-range-switch","z":"754ea04c.fc69d","name":"Check Day/Night","lat":"42.279594","lon":"-83.732124","startTime":"sunrise","endTime":"sunset","startOffset":0,"endOffset":0,"x":530,"y":300,"wires":[["c58753e0.b9f848","5bfed249.d3fb9c"],["c58753e0.b9f848","5bfed249.d3fb9c","f0972a59.246048"]],"outputLabels":["Day","Night"]},{"id":"ef619c10.c5eae","type":"debug","z":"754ea04c.fc69d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":500,"wires":[]},{"id":"95ac901f.b720e8","type":"ui_template","z":"5e07a337.46091c","group":"d3732e19.807a6","name":"indicator widget","order":7,"width":"3","height":"2","format":"<div style=\"border-radius:3px; background:{{msg.color}}; padding:3px;\">\n    <table width=\"100%\"><tr><td rowspan=2><center><i class=\"fa {{msg.icon}} fa-2x\"></i></center>\n    </td><td><center><font face=\"Verdana\" style=\"font-size:33px\">{{msg.payload}}</font><br/>\n    <font face=\"Verdana\" style=\"font-size:14px;\">{{msg.topic}}</font></center></td></tr>\n    </table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":480,"y":420,"wires":[[]]},{"id":"e08e5e03.ef7db","type":"function","z":"5e07a337.46091c","name":"Temp Icon","func":"//msg.payload = 25;\nmsg.icon = \"fa-thermometer-full\";\nif (msg.payload < 75) {msg.icon = \"fa-thermometer-three-quarters\";}\nif (msg.payload < 50) {msg.icon = \"fa-thermometer-half\";}\nif (msg.payload < 25) {msg.icon = \"fa-thermometer-quarter\";}\nif (msg.payload < 10) {msg.icon = \"fa-thermometer-empty\";}\nmsg.topic = \"Temp F\";\nmsg.color = \"#318EAF\";\nreturn [msg,{payload:msg.payload/10}];\n// Done","outputs":1,"noerr":0,"x":310,"y":420,"wires":[["95ac901f.b720e8","be122fc8.637768"]]},{"id":"b2cb84d5.f2c988","type":"string","z":"5e07a337.46091c","name":"toNumber","methods":[{"name":"toInteger","params":[]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":140,"y":420,"wires":[["e08e5e03.ef7db","be122fc8.637768"]]},{"id":"be122fc8.637768","type":"debug","z":"5e07a337.46091c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":300,"y":500,"wires":[]}]